name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: 14.x
    
    - run: npm install -g esy@latest windows-build-tools@4.0.0
    - run: npm install -g node-gyp && node-gyp install 12.17.0 && node-gyp list
    - run: node install-node-deps.js --prod
    
    - run: esy '@release' run -f --checkhealth
    - run: esy '@release' install
    - run: esy '@release' run --help
    - run: esy '@release' create
    - run: ./scripts/windows/publish.ps1
    
    - name: upload build
      uses: actions/upload-artifact@v2.2.2
